/* fondo exterior */
body {
    margin: 0;
    background: #3f3f3f;
    font-family: Georgia, serif;
}

/* marco gris medio */
.page {
    background: #bfbfbf;
    width: 900px;
    margin: 40px auto;
    padding: 30px 0;
}

/* contenido */
.content {
    background: #f2f2f2;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

/* navegación */
.nav {
    text-align: center;
    font-family: "Courier New", monospace;
    margin-bottom: 20px;
}

/* imagen */
.content img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
}

/* narración */
.narration {
    margin-bottom: 20px;
    color: #222;
}

/* pesterlog */
.pesterlog {
    border: 1px dashed #999;
    padding: 10px;
}

.dialogue {
    font-family: "Courier New", monospace;
    font-weight: 600;
}


.maxxxx { color: #0000aa; }
.codexx { color: #a1a100; }
.jaxzon { color: #a1a100; }
.mellor { color: #a1a100; }
.dievra { color: #a1a100; }
.percy { color: #a1a100; }
.anonny { color: #a1a100; }
.rhea { color: #a1a100; }
.joel { color: #a1a100; }
.zeta { color: #a1a100; }
.abril { color: #a1a100; }
.atunhn { color: #a1a100; }
.nadiel { color: #a1a100; }
.haze { color: #a1a100; }
.rust { color: #a1a100; }
.bronze { color: #a1a100; }
.gold { color: #a1a100; }
.lime { color: #a1a100; }
.olive { color: #a1a100; }
.jade { color: #a1a100; }
.teal { color: #a1a100; }
.blue { color: #a1a100; }
.indigo { color: #a1a100; }
.purple { color: #a1a100; }
.violet { color: #a1a100; }
.fuchsia { color: #a1a100; }
.hope { color: #a1a100; }
.yarrow { color: #a1a100; }



.nav a {
  font-size: 36px;      
  font-weight: bold;    
  text-decoration: none;
}

